@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

.Experience {
    text-align: center;
}

.Experience img{
    margin-top: 5rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 -1px 15px 3px;
    width: 15rem;
    height: 15rem;
}

.Experience a, button{
    color: aliceblue;
    margin: 20px;
    text-align: center;
    font-size: xx-large;
}
.Experience button{
    background: transparent;
    border: transparent;
}

.Experience h1{
    color: aliceblue;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 15px 3px;
}

.Experience h2{
    color: beige;
    text-align: left;
}

.Experience h5{
    color: beige;
    text-align: left;
}

.Experience label{
    color: beige;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.Experience p{
    color: beige;
    text-align: left;
}

.timer h3{
    font-weight: 80;
    font-size: 2.5rem;
}

.timer button{
    margin: -10px;
    padding: auto;
    border: solid azure 1px;
    border-radius: 7px 7px; 
    box-sizing: border-box;
}
.timer h5{
    font-weight: 80;
    margin-bottom: 1px;
    margin-top: 3px;
    padding: 2px;
}

.box {
    color: azure;
    background: #233E40;
    border-bottom: 1px 1px black;
    text-align: center;
    margin: auto;
    border: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 40%;
}

.TitleFormation{
    color: azure;
    text-align: right !important;
}

.textFormation {
    color: beige;
    text-align: left !important;
}

.boxAcademic {
    color: azure;
    background: #233E40;
    border-bottom: 1px 1px black;
    margin: auto;
    border: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
}

.boxLanguages {
    color: azure;
    background: #233E40;
    border-bottom: 1px 1px black;
    margin: auto;
    border: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.boxTitle {
    color: black !important;
    background: azure;
    margin: auto;
    border: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.boxDate {
    color: azure !important;
    background: rgb(22, 231, 231) !important;
    border: 10px;
    padding: auto;
}
.boxDescription {
    color: black !important;
    background: azure !important;
    border: 10px;
    padding: auto;
}
.TitleDescription {
    margin: auto;
    margin-top: 1rem;
}

@keyframes showText2{
    0%{
        transform: translatey(-100%) scale(1,1);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }
    100%{
        transform: translatey(0%) scale(1,1);
        text-shadow: 2px 2px 1px black;
        opacity: 1;
    }
}

@media only screen and (max-width: 850px){
    .Experience h1{
        font-size: 2rem;
    }
    .Experience h3{
        font-size: 1.5rem;
        padding: .5rem 0;
        padding-top: .5rem;
    }
    .Experience span{
        font-size: 2rem;
    }
}