@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

.Home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 11rem);
}

.image{
    flex:1 1 42rem;
    text-align: center;
}

.image img{
    height: 25rem;
    width: 25rem;
    border-radius: 30% 80% 80% 30% / 40% 50% 80% 80%;
}

.content {
    flex:0.5 1.5 50rem;
}
.content h3{
    color: aliceblue;
    font-size: 2.5rem;
    padding-bottom: .5rem;
	padding-left: 2%;
	padding-right: 2%;
	animation: showText 1s linear;
}

.content p{
    color: aliceblue;
    font-size: 1.5rem;
    padding:.1rem 0;
}

.Home button{
	background-color:rgba(255, 0, 0, 0.8);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
    font-size: xx-large;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.Home button:hover{
	background-color: transparent;
	border: 2px solid rgba(255, 0, 0, 0.8);
	cursor: pointer;
}

.Home a{
	background-color:rgba(255, 0, 0, 0.8);
	color: white;
	text-decoration: none;
    margin: 20px;
	border: 2px solid transparent;
	font-weight: bold;
    font-size: xx-large;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.Home a:hover{
	background-color: transparent;
	border: 2px solid rgba(255, 0, 0, 0.8);
	cursor: pointer;
}

@keyframes showText{
    0%{
        transform: translateX(-100%) scale(1.5,1.5);
        opacity: 1;
    }
    50%{
        transform: translateX(100%) scale(1.5,1.5);
        opacity: 1;
    }
    75%{
        transform: translateX(-100%) scale(1.5,1.5);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateX(0%) scale(1,1);
        text-shadow: 2px 2px 1px black;
        color: white;
        opacity: 1;
    }
}

@media only screen and (max-width: 850px){
    .image img{
		height: 15rem;
		width: 15rem;
		border-radius: 30% 80% 80% 30% / 40% 50% 80% 80%;
	}
	.content h3{
		font-size: 2rem;
		padding: auto;
		text-align: center;
	}
	
	.content p{
		font-size: 1rem;
		padding: auto;
		padding-left: 1%;
		padding-right: 1%;
	}
	.Home button, .Home a{
		text-align: center;
		padding: 7.5px 20px;
		margin-left: 1px;
		border-radius: 25px;
		margin-top: 30px;
	}
}
