@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

.Home {
    text-align: center;
}

.Home-link {
    color: #35dae6;
}

.Home img{
    margin-top: 5rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0 -1px 15px 3px;
    width: 15rem;
    height: 15rem;
}

.Home h1{
    color: aliceblue;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 15px 3px;
}

.Home label{
    color: aliceblue;
}

.Home button{
	background-color:rgba(255, 0, 0, 0.8);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
    font-size: xx-large;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.Home button:hover{
	background-color: transparent;
	border: 2px solid rgba(255, 0, 0, 0.8);
	cursor: pointer;
}

.Home a{
	background-color:rgba(255, 0, 0, 0.8);
	color: white;
	text-decoration: none;
    margin: 20px;
	border: 2px solid transparent;
	font-weight: bold;
    font-size: xx-large;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.Home a:hover{
	background-color: transparent;
	border: 2px solid rgba(255, 0, 0, 0.8);
	cursor: pointer;
}
