@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

h1 {
    color: white;
	font-size: 55px;
	letter-spacing: 1px;
	cursor: pointer;
    text-align: center;
    margin: 10px;
}

.box-container {
    color: azure;
    background: #1a1a1a;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
    text-align: center;
    margin: auto;
    border: 10px;
    width: 25%;
    margin: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.box-container:hover {
    color: black;
    background: #aaa;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
    transition: .4s; 
}

.box-container span{
	color: #f9004d;
}

.modalLib li{
	margin-left: 10rem;
    margin-bottom: 5px;
}

.modalh2 h2 {
    background-color: #1a1a1a;
    color: #f9004d;
	font-size: 55px;
	letter-spacing: 1px;
	cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.modalh2 h2:hover {
    background-color: #f9004d;
    color: #1a1a1a;
	font-size: 65px;
    transition: .4s;
}

.box-container .circle-icon{
    width: 40%;
    justify-content: 'center';
    align-items: 'center';
    margin: auto;
    padding: auto;
}
.box-container .info{
    width: 55%;
    justify-content: 'center';
    align-items: 'center';
    margin: auto;
    margin-top: 10px;
}
.box-container i{
    color: #f9004d;
    margin: auto;
    font-size: xx-large;
    margin-top: 10px;
}

.box-container img{
    margin: auto;
    width: 50%;
    margin-top: 10px;
}
.box-container p{
    margin: auto;
    font-size: small;
}
.box-container label{
    margin: auto;
    font-size:medium;
    border: 2px solid rgba(255, 0, 0, 0.8);
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.box-container label:hover{
    color: #f9004d;
    border: 2px solid rgba(0, 0, 0, 0.8);

}

.box-container h3{
    margin: auto;
    font-size: x-large;
}