@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

h1 {
    color: white;
	font-size: 3.5rem;
	letter-spacing: 1px;
	cursor: pointer;
    text-align: center;
    margin: 10px;
}

#banner h1{
    animation: showText 5s linear;
}
.boxfind {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 1.5rem;
}
.box-container {
    padding:1rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
    border-radius: .5rem;
    background: #1a1a1a;
    cursor: pointer;
}

.box-container:hover {
    background: rgb(95, 94, 94);
    transition: .4s; 
}

.box-container:hover .info {
    animation: showIcon 600ms linear;
}

.box-container:hover .circle-icon {
    animation: showCategory 500ms linear;
}


.box-container span{
	color: #f9004d;
}

.modalLib li{
	margin-left: 10rem;
    margin-bottom: 5px;
}

.modalh2 h2 {
    background-color: #1a1a1a;
    color: #f9004d;
	font-size: 2rem;
	letter-spacing: 1px;
	cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.modalh2 h2:hover {
    background-color: #f9004d;
    color: #1a1a1a;
	font-size: 65px;
    transition: .4s;
}

.box-container .circle-icon{
    width: 40%;
    justify-content: 'center';
    align-items: 'center';
    margin: auto;
    padding: auto;
}
.box-container i{
    color: #f9004d;
    height: 7rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.box-container img{
    height: 3rem;
    margin-bottom: 1rem;
}
.box-container p{
    margin: auto;
    color: aliceblue;
    font-size: 1rem;
}
.box-container label{
    margin: auto;
    color: azure;
    font-size:medium;
    border: 2px solid rgba(255, 0, 0, 0.8);
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.box-container h3{
    margin: auto;
    color: aliceblue;
    font-weight: normal;
    text-transform: uppercase;
}

@keyframes showCategory{
    from{
        transform: translateY(-300%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes showIcon{
    from{
        transform: translateX(-300%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes showText{
    0%{
        transform: translateX(-100%) scale(1.5,1.5);
        opacity: 1;
    }
    50%{
        transform: translateX(100%) scale(1.5,1.5);
        opacity: 1;
    }
    75%{
        transform: translateX(-100%) scale(1.5,1.5);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateX(0%) scale(1,1);
        text-shadow: 2px 2px 1px black;
        color: white;
        opacity: 1;
    }
}

@media only screen and (max-width: 850px){
    .boxfind {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2rem;
        row-gap: 1.5rem;
    }
    #banner h1{
        font-size: 2rem;
		padding: auto;
		text-align: center;
    }	
	
    .box-container i{
        font-size: 2rem;
    }
    .box-container img{
        height: 2rem;
    }
}

@media only screen and (max-width: 690px){
    .boxfind {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 2rem;
        row-gap: 1.5rem;
    }
    .circle-icon{
        width: 25%;
    }
}