/* Asegurar que todo se ajuste bien en cualquier pantalla */
* {
  box-sizing: border-box;
  max-width: 100%;
}

/* 🔹 General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

._2iWL7,
._1fOYS,
._1bpcM {
  position: fixed !important;
}

._2rVjT{
  background-color: #111 !important;
}

._2C9-R,
a {
  color: white !important;
}

.text-left {
  text-align: left;
}

h3 {
  text-transform: none;
}

.cursive {
  font-style: italic;
  text-transform: none;
}

/* 🔹 Secciones */
.section {
  min-height: 100vh; /* Asegura que cada sección tenga altura suficiente */
  padding: 100px 20px; /* Asegura espacio entre las secciones */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 🔹 Titulos y fechas */
h3, h4 {
  margin: 5px 0;
}

.date {
  font-size: 14px;
  color: #bbb;
}

img{
  height: 3rem;
  margin-bottom: 1rem;
}

span {
  color: crimson;
}

/* Asegurar que imágenes y videos sean completamente responsivos */
img, video, iframe {
  max-width: 100%;
  height: auto;
}