/*  General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
  scroll-behavior: smooth;
}

._2iWL7,
._1fOYS,
._1bpcM {
  position: fixed !important;
}

._2rVjT{
  background-color: #111 !important;
}

._2C9-R,
a {
  color: white !important;
}

/*  Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/*.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.logo {
  margin-top: -30px;
  font-size: 90px;
  font-weight: bold;
  color: crimson;
  background-color: transparent;
}

.logo:hover {
  font-size: 100px;
  background-color: transparent;
}

.photo_perfil {
  width: 70%;
  height: auto;
  border-radius: 10px;
}
.text-left {
  text-align: left;
}

.work-text-area {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  text-transform: none;
}

.cursive {
  font-style: italic;
  text-transform: none;
}

.nav-links {
  margin-top: -40px;
  margin-bottom: -10px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links button.active {
  color: crimson; /* Color resaltado */
  font-weight: bold;
  border-bottom: 2px solid rgb(173, 33, 61);
}

.nav-links button:hover {
  background-color: transparent;
  color: crimson;
  font-size: 25px;
  font-weight: bold;
  transform: scale(1.01);
}

/*  Secciones */
.section {
  min-height: 100vh; /* Asegura que cada secci贸n tenga altura suficiente */
  padding: 100px 20px; /* Asegura espacio entre las secciones */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*  Secci贸n de Skills */
.projects,
.skills {
  width: auto;
  background-color: #1a1a1a; /* Fondo para diferenciar */
}

/*  Contenedor de Skills */
.skills-container {
  border: solid 1px #b3b3b3a4;
  border-radius: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta el tama帽o autom谩ticamente */
  gap: 10px; /* Asegura espacio entre los elementos */
  justify-content: center;
}

/*  Estilo de cada Skill */
.skill-card {
  background: #222;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
  transform: scale(1.05);
}

/*  Iconos de Skills */
.project-icon,
.skill-icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill-card span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.skill-card small {
  color: #ccc;
}

.language-card {
  margin: 30px;
  text-align: left;
}
/*  Para pantallas peque帽as */
@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    width: 90%;
  }
}

/*  Contenedor General */
.experience-education-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/*  Secciones de Experiencia y Educaci贸n */
.experience-section, .education-section {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/*  Iconos de experiencia en filas de a 4 */
.experience-card ul.icons-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
  align-items: center;
  justify-items: center;
}

.experience-card ul.icons-container li.icon {
  text-align: center;
  font-size: 1.5rem;
  list-style-type: none;
}

.experience-card ul.icons-container li.icon img{
  height: 2rem;
}

  /*  Grid para organizar tarjetas */
.experience-grid, .education-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.description {
  text-align: left;
}

.description ul {
  margin: 20px;
}

/*  Tarjetas de Experiencia y Educaci贸n */
.experience-card, .education-card {
    background: #333;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.experience-card:hover, .education-card:hover {
    transform: scale(1.05);
}

/*  Titulos y fechas */
h3, h4 {
margin: 5px 0;
}

.date {
font-size: 14px;
color: #bbb;
}

.cert-grid {
  display: flex;
  gap: 10px;
}

.certifications {
  background: #222;
}

.certifications-container {
  padding: 20px;
}

.certifications-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.certification-card {
  border: solid 1px #333;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  width: calc(33% - 10px);
}

.badges-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 10px;
  margin-top: 10px;
}

.links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columnas */
  gap: 10px;
  margin-top: 10px;
}

.links-item,
.badge-item {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

a.links-contact {
  font-size: 40px;
  text-decoration: none;
  display: inline-flex;
  color: #ccc;
}

.links-item:hover,
.badge-item:hover {
  transform: scale(1.05);
}

.badge-item img {
  width: 100px;
  height: 100px;
}

.badge-item p {
  margin-top: 5px;
  font-size: 14px;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px; /* Espaciado interno */
  border-radius: 10px;
}

.project-card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.project-header {
  text-align: center;
}

.project-video iframe {
  width: 100vh;
  height: 400px;
  border-radius: 8px;
}

.project-icons {
  display: flex;
  position:absolute;
  bottom:5px;
  justify-content: flex-end;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.project-image img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

img{
  height: 3rem;
  margin-bottom: 1rem;
}

.project-card {
  background-color: #555;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

/*  Contacto */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: auto;
}

button {
  background-color: crimson;
  padding: 12px;
  border: none;
  cursor: pointer;
}

.contact button:hover,
button:hover {
  background-color: rgb(233, 12, 56);
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;
  margin: auto;
}

.contact input, 
.contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 20px;
}

.success-message {
  color: green;
  font-weight: bold;
  text-align: center;
}

.experience-education-container h2,
.certifications-container h2,
.contact h2,
.projects-container h2,
span {
  color: crimson;
}

.submenu {
  position: relative;
  display: inline-block;
}

.submenu-content {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.submenu-content li {
  display: block;
}

.submenu-content button {
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
}

.submenu-content button:hover {
  background-color: #f1f1f1;
}

.profile-container {
  max-width: 100%;
  margin: 0px auto;
  margin-top: 0;
  padding: 30px;
  background: #555;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: white;
}

/*  Titulos principales */
.profile-container h2 {
  text-align: left;
  font-size: 28px;
  color: whitesmoke;
  margin-bottom: 15px;
}

/*  Subt铆tulos */
.profile-container h3 {
  text-align: left;
  font-size: 20px;
  color: whitesmoke;
  margin-top: 20px;
}

/*  P谩rrafos */
.profile-container p {
  font-size: 16px;
  line-height: 1.6;
  color: white;
  text-align: left;
}

/*  Lista de habilidades */
.profile-container ul {
  list-style: none;
  padding-left: 0;
}

.profile-container ul li {
  font-size: 16px;
  padding: 8px 0;
  border-left: 4px solid crimson;
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

/*  Efecto Hover en la lista */
.profile-container ul li:hover {
  background: #b3b3b3;
  padding-left: 15px;
}

/*  Ubicaci贸n y disponibilidad */
.profile-container p strong {
  color: rgb(207, 192, 194);
}

/*  Mensaje final */
.profile-container h3:last-of-type {
  text-align: center;
  font-size: 22px;
  color: crimson;
  margin-top: 25px;
}